.ArtistPage {
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px) saturate(20%);
  }
}

@media screen and (min-width: 1000px) {
  .ArtistPage {
    z-index: -3;
  }
}
