.TrackItem {
  display: flex;
  align-items: center;

  justify-content: space-between;
  gap: 20px;
  padding: 20px;

  .indexIcon {
    display: flex;
    align-items: center;
    gap: 15px;
    img {
      border-radius: 30%;
    }
  }

  .contentTitle {
    .title {
      font-weight: bold;
    }
    .contentArtist {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3px;
      .icon {
        font-size: 12px;
      }
      .artist {
        font-size: 12px;
        color: $light-grey;
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
}
