.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;

  .info_artist {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    img {
      border-radius: 50%;
    }
  }
  .name_artist_desktop {
    text-transform: uppercase;
  }
  .name_artist {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    padding: 30px;
    display: flex;
    align-items: center;
    .name_artist_desktop {
      display: none;
    }
    .name_artist {
      text-transform: uppercase;
      display: block;
      filter: drop-shadow(0px 0px 5px $primary-color);
      margin: auto;
      font-size: 50px;
    }
  }
}
