.TrackPage {
  color: $white;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 80px;
  position: relative;

  .container {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px) saturate(30%);
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .Navbar {
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
    }
    .img_icon {
      position: relative;
      width: 250px;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;

      .img {
        border-radius: 20px;
        box-shadow: 2px 6px 6px rgba(144, 143, 143, 0.605);
        scale: 50%;
      }
      .like {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
        cursor: pointer;
      }
    }

    .player {
      width: 96%;
      display: flex;
      align-items: center;

      flex-direction: column;
      position: absolute;
      bottom: 100px;
      .deezerPlayer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
      }
      h4 {
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  .TrackPage {
    color: $white;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
    position: relative;

    .container {
      background-color: rgba(0, 0, 0, 0.264);
      width: 100%;
      height: 100vh;
      backdrop-filter: blur(10px) saturate(60%);
      display: flex;
      flex-direction: column;
      padding-bottom: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      .img_icon {
        width: 500px;
        height: 500px;
        .img {
          margin-bottom: 20px;
          border-radius: 20px;
          box-shadow: 2px 6px 6px rgba(144, 143, 143, 0.605);
          scale: 100%;
        }
        .like {
          right: 20px;
        }
      }

      .player {
        bottom: 20px;

        .deezerPlayer {
          width: 96%;
        }
      }
    }
  }
}
