.mainContainer {
  padding: 0;
  display: flex;
  flex-direction: column;

  .container {
    gap: 20px;
    .leftSide {
      .artistListMobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

   .titleTopArtist {
    margin-left: 20px;
    color: white
  }
 .listTopArtist{
   display: flex;
   gap:30px;
   

 }
 
  }
  .mainListGenre{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding:20px;
  .listGenre{
    display: flex;
    flex-direction: row;
    gap:10px;
    overflow: auto;
    
  }
}
  .title{
    display:flex;
    padding-bottom:20px;
    flex-direction: row;
    justify-content: space-between;
    .seeAll{
      color: rgb(48, 48, 215);
      text-decoration: underline;
      font-size: 15px;
      cursor: pointer;
    }
  }
  .titleTrending {
    margin-left: 20px;
    color: $white;
    
  }
  .listTrack {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 97vw;
    margin-left: 0;
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    cursor: pointer;
  }
}
.rightSide{
display:none
}
}
}
@media screen and (min-width: 1000px) {
  .mainContainer {
    padding: 0 20px;
    // display: flex;
    // flex-direction: column;
    .container {
      padding: 0;
      display: flex;
      flex-direction: row;
      .leftSide {
        width: 60vw;
        .artistListMobile {
          display: none;
        }

        .mainListGenre {
          display: none;
        }
        .title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .seeAll {
            color: rgb(48, 48, 215);
            text-decoration: underline;
            font-size: 15px;
            cursor: pointer;
          }
        }
        .titleTrending {
          margin-left: 20px;
          color: $grey;
        }
        .listTrack {
          width: 100%;
          margin-left: 18px;
          margin-top: 20px;
          height: 50vh;
          overflow: auto;
          padding-bottom: 0;
        }
      }
      .rightSide {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 30vw;
        // height: 100vh;
        // .listTopArtist{
        // height: 100%;
        // overflow: auto;

        .title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .titleTopAlbum {
            margin-left: 20px;
          }
          .seeAll {
            color: rgb(48, 48, 215);
            text-decoration: underline;
            font-size: 15px;
            cursor: pointer;
          }
        }
        .titleTopArtist {
          margin-left: 20px;
          color: $grey;
        }
        .listTopArtist {
          margin-left: 18px;
          margin-top: 20px;
          height: 40vh;
          overflow: auto;
          padding-bottom: 0;
          &::-webkit-scrollbar {
            height: 8px;
            width: 4px;
          }
          &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: transparent;
          }
        }
      }
    }
  }
}
// }
