$primary-color: #4034ed;
$grey: #000049;
$light-grey: #b9bcd8;
$off-white: #fcfcff;
$white: #ffffff;

// $primo-color:#0b2545;
// $secondo-color:#0f2b51;
// $terzo-color:#133155;
// $quarto-color:#133968;
// $quinto-color:#134074;
// $sesto-color:#4c6785;
// $settimo-color:#6d88a5;
// $ottavo-color:#8da9c4;
// $nono-color:#becfd9;
// $decimo-color:#eef4ed;

// $dark-color-blu:#030218f4; 

// $unidicesimo-color:#009ee2;