.AlbumPage {
  color: $white;
  height: 100vh;
  width: 95vw;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 80px;

  .container {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(6px) saturate(19%);
    display: flex;
    flex-direction: column;

    .albumItem {
      background-color: rgba(151, 149, 147, 0.493);
      border-radius: 20px;
      margin: 0 20px;
    }

    .trackItem {
      align-items: center;
      gap: 20px;
      overflow: auto;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      flex: 0 0 auto;
      padding: 20px 20px 100px 20px;
      height: 47%;
      &::-webkit-scrollbar {
        height: 8px;
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: #85858537;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #ffffff4f;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .AlbumPage {
    color: $white;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;

    .container {
      width: 100%;
      height: 100vh;
      backdrop-filter: blur(5px) saturate(20%);
      display: flex;
      flex-direction: column;

      .albumItem {
        background-color: rgba(151, 149, 147, 0.493);
        border-radius: 20px;
        margin: 0 20px;
      }

      .trackItem {
        align-items: center;
        height: 52%;
        // gap: 20px;
        overflow: auto;
        // scroll-behavior: smooth;
        // scroll-snap-type: x mandatory;
        // flex: 0 0 auto;

        //     &::-webkit-scrollbar {
        //       height: 8px;
        //       width: 4px;
        //     }
        //     &::-webkit-scrollbar-track {
        //       background: #85858537;
        //       border-radius: 10px;
        //     }
        //     &::-webkit-scrollbar-thumb {
        //       border-radius: 10px;
        //       background-color: #ffffff4f;
        //     }
      }
    }
  }
}
